body{
    background-color: Medium Turquoise;
}
#products{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-left: 30px;
padding: 30px;
}

.card{
margin: 20px;
width: 26rem;
}
#cart{
display:flex;
flex-direction: row;
flex-wrap: wrap;
margin-left: 30px;
padding: 30px;
}
.total{
display:flex;
flex-direction: column;
flex-wrap: wrap;
margin-left: 30px;
padding: 30px;  
}
.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin:50px;

}